@main(title = "受発注管理システム") {
 
<!-- ヘッダー -->
@header()

<div class="row">
  <div class="container">
    <!-- コンテンツ -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-tabs nav-stacked">
        <li><h2>顧客情報管理</h2></a></li>
        <li><a href="/customers/search"><h2>顧客情報一覧（検索/更新/削除）</h2></a></li>
        <li><a href="/customers/create"><h2>顧客情報登録</h2></a></li>
        <li><h2>商品情報管理</h2></a></li>
        <li><a href="/items/search"><h2>商品情報一覧（検索/更新/削除）</h2></a></li>
        <li><a href="/items/create"><h2>商品情報登録</h2></a></li>
        <li><h2>受注管理</h2></a></li>
        <li><a href="/orderings/search"><h2>受注情報一覧（検索/削除）</h2></a></li>
        <li><a href="/orderings/create"><h2>受注登録</h2></a></li>
      </ul>
    </div>
  </div>
</div>
}
