@(orderingForm: Form[Ordering])

@import helper._

@main(title = "受発注管理システム - 受注登録") {

<!-- ヘッダー -->
@header()

<div class="row">
  <div class="container">
  
    <!-- サイドメニュー -->
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/orderings/search">受注情報一覧（検索/削除）</a></li>
            <li><a href="/orderings/create">受注登録</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- コンテンツ -->
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="row">
      
        <!-- 見出し -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>受注登録</h1>
        </div>
        
        <!-- フォーム -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          @form(routes.OrderingController.create()) {
            <fieldset>
              <input type="hidden" name="ID" value="0">
              <input type="hidden" name="createdAt" value="@System.currentTimeMillis()">
              @inputText(orderingForm("customerID"), '_label -> "顧客番号", 'size -> 30)
              @inputText(orderingForm("itemID"), '_label -> "商品番号", 'size -> 30)
              @select(
                orderingForm("itemCount"),
                options(
                  "1" -> "1",
                  "2" -> "2",
                  "3" -> "3",
                  "4" -> "4",
                  "5" -> "5",
                  "6" -> "6",
                  "7" -> "7",
                  "8" -> "8",
                  "9" -> "9",
                  "10" -> "10",
                  "11" -> "11",
                  "12" -> "12",
                  "13" -> "13",
                  "14" -> "14",
                  "15" -> "15",
                  "16" -> "16",
                  "17" -> "17",
                  "18" -> "18",
                  "19" -> "19",
                  "20" -> "20"
                ),
                '_label -> "商品個数"
              )
              @inputText(orderingForm("comment"), '_label -> "備考", 'size -> 30)
            </fieldset>
            <div class="actions">
              <input type="submit" class="btn btn-primary">
              <a href="/orderings/search" class="btn btn-danger">キャンセル</a>
            </div>
          }
        </div>
      </div>
    </div>
 </div>
}
